* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /*  background-color: #a19d9d; */
  margin: 0;
  padding: 0;
  background-image: url("images/wattenmeer-bei-ebbe.jpg");
  -webkit-backdrop-filter: grayscale(80%);
  backdrop-filter: grayscale(80%);
}

/*
.container_page_size {
  border: solid red;
  width: 600px;
  height: 800px;
  margin: auto; */ /* DIV mittig zentriueren */
/*
}
*/

.container_page_size {
  min-width: 600px;
}

header {
  margin-bottom: 1rem;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}

a {
  color: rgb(95, 205, 219);
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  justify-self: center;
}

.main__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 2fr);
  gap: 1rem;
  max-width: 800px;
}

img {
  width: 180px;
  height: 180px;
}

@media (max-width: 600px) {
  .main__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/*
h1 {
  background: -webkit-linear-gradient(
    rgb(53, 113, 224) 15%,
    rgb(251, 213, 195) 55%,
    rgb(3, 36, 146) 85%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
*/
h1 {
  background: linear-gradient(to right, rgb(0, 217, 255), rgb(90, 90, 207));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
}

h6 {
  text-align: center;
  margin-top: 1rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: #3a3636;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
